In [4]:
from deepface import DeepFace
import cv2
import scipy.io
import numpy as np
import pandas as pd
import datetime
import pickle
from environs import Env

env = Env()
env.read_env('../.env', recurse=False)

False

In [2]:
model = 'ArcFace'

In [11]:
path_to_img = '../datasets/2002/07/19/big/img_18.jpg'
embedding = DeepFace.extract_faces(path_to_img)
x, y, w, h = embedding[0]['facial_area'].values()

Drawing rectangle

In [10]:
img = cv2.imread(path_to_img)
# cv2.putText(img, name, (x1, y1 - 10), cv2.FONT_HERSHEY_DUPLEX, 1, (0, 0, 150), 2)
cv2.rectangle(img, (x, y), (x+w, y+h), (0, 0, 200), 4)
cv2.imshow('Img', img)
cv2.waitKey(0)
cv2.destroyAllWindows()

In [298]:
path_to_mat = '../datasets/wiki/wiki.mat'
mat = scipy.io.loadmat(path_to_mat)

Сбор путей изображений:

In [299]:
def get_paths(array: np.ndarray) -> list:
    paths = []
    if type(array) == np.ndarray:
        for elem in array:
            paths.extend(get_paths(elem))
    else:
        paths.append(array)
    return paths

In [300]:
columns = mat['wiki'][0].dtype.names

In [301]:
names = mat['wiki'][0][0][4][0]
names = np.array([x[0] if len(x) == 1 else '' for x in names])

In [302]:
dobs = mat['wiki'][0][0][0][0]

In [303]:
paths = mat['wiki'][0][0][2][0]
paths = np.array([x[0] if len(x) == 1 else '' for x in paths])

In [304]:
genders = mat['wiki'][0][0][3][0]

In [305]:
face_locations = mat['wiki'][0][0][5][0]

In [306]:
columns = ('name', 'dob', 'gender', 'full_path', 'face_location')
columns

('name', 'dob', 'gender', 'full_path', 'face_location')

In [307]:
df = pd.DataFrame(list(zip(names, dobs, genders, paths, face_locations)), columns=columns)
df.head()

,name,dob,gender,full_path,face_location
0,Sami Jauhojärvi,723671,1.0,17/10000217_1981-05-05_2009.jpg,"[[111.29109473290997, 111.29109473290997, 252...."
1,Dettmar Cramer,703186,1.0,48/10000548_1925-04-04_1964.jpg,"[[252.48330229530742, 126.68165114765371, 354...."
2,Marc Okrand,711677,1.0,12/100012_1948-07-03_2008.jpg,"[[113.52, 169.83999999999997, 366.08, 422.4]]"
3,Aleksandar Matanović,705061,1.0,65/10001965_1930-05-23_1961.jpg,"[[1, 1, 634, 440]]"
4,Diana Damrau,720044,0.0,16/10002116_1971-05-31_2012.jpg,"[[171.61031405173117, 75.57451239763239, 266.7..."

In [329]:
sum(df['name'].value_counts() > 2)

104

In [315]:
df.to_pickle('labels.pkl')

In [316]:
pd.read_pickle('labels.pkl')

,name,dob,gender,full_path,face_location
0,Sami Jauhojärvi,723671,1.0,17/10000217_1981-05-05_2009.jpg,"[[111.29109473290997, 111.29109473290997, 252...."
1,Dettmar Cramer,703186,1.0,48/10000548_1925-04-04_1964.jpg,"[[252.48330229530742, 126.68165114765371, 354...."
2,Marc Okrand,711677,1.0,12/100012_1948-07-03_2008.jpg,"[[113.52, 169.83999999999997, 366.08, 422.4]]"
3,Aleksandar Matanović,705061,1.0,65/10001965_1930-05-23_1961.jpg,"[[1, 1, 634, 440]]"
4,Diana Damrau,720044,0.0,16/10002116_1971-05-31_2012.jpg,"[[171.61031405173117, 75.57451239763239, 266.7..."
...,...,...,...,...,...
62323,Guus Haak,707582,1.0,49/9996949_1937-04-17_1963.jpg,"[[128.92773553879837, 128.92773553879837, 320...."
62324,Nico Rijnders,711338,1.0,32/9997032_1947-07-30_1970.jpg,"[[1, 1, 285, 440]]"
62325,Michael Wiesinger,720620,1.0,09/9998109_1972-12-27_2013.jpg,"[[169.88839785556354, 74.31669471981023, 235.2..."
62326,Johann Grugger,723893,1.0,00/9999400_1981-12-13_2011.jpg,"[[1, 1, 1, 1]]"
62327,Greta Van Susteren,713846,0.0,80/999980_1954-06-11_2008.jpg,"[[92.72633234774001, 62.04355489849334, 230.12..."